<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <title><%= process.configuration.cde.web.instanceName %> - <%= fileName %></title>
        <meta property="og:type" content="article">
        <meta property="og:site_name" content="<%= process.configuration.cde.web.instanceName %>">
        <meta property="og:title" content="Image uploaded at <%= birthtime %>">
        <meta property="og:image" content="<%= backendURL %>">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="theme-color" content="#143642">
        <link rel="icon" type="image/png" href="/backend/asset/Chocoflask.png" sizes="32x32">

        <script src="https://cdn.jsdelivr.net/npm/node-vibrant@3.2.1-alpha.1/dist/vibrant.min.js"></script>
    </head>
    <body>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

            body {
                color: whitesmoke;
                height: 100%;
                background-repeat: no-repeat;
                background-attachment: fixed;
            }
            .centre {
                display: flex;
  	            justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            .logo {
                position: absolute;
                right: 1.5%;
                top: 1.75%;
                width: 3%;
            }
            .header {
               font-family: "Red Hat Display", sans-serif;
            }
            img {
                max-width: 75%;
                height: auto;
            }
            #imageServe {
                border-style:solid;
                border-width: 5px;
            }
        </style>
        <div class="centre">
            <h2 class="header">Image uploaded at <%= birthtime %></h2>
            <a href="<%= process.configuration.cde.web.redirect %>">
                <img id="cde-image" src="/backend/asset/Chocoflask.png" alt="Chocoflask logo" class="logo">
            </a>
            <img id="imageServe" src="/backend/main/<%= fileName %>" alt="<%= fileName %>">

            <script>
                (async function () {
                    var colours = await (new Vibrant.from("/backend/main/<%= fileName %>")).getPalette();
                    document.body.style.backgroundImage = `linear-gradient(45.34deg, ${colours.DarkVibrant.hex} 3.5%, ${colours.LightVibrant.hex} 96.5%)`;
                })();
            </script>
        </div>
    </body>
</html>